<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="MailChimpConfiguration" type="MailChimpService.MailChimp.MailChimpConfiguration, MailChimpService"/>
  </configSections>

  <MailChimpConfiguration 
      UserName="" 
      Password="" 
      APIKey="78af380c41e7d59376d2ec11abf15295-us5" 
      ListName="Axis e-Bulletin" RetryCount="3">
    <Columns>
      <add name="First Name" tag="FNAME" required="false"/>
      <add name="Last Name" tag="LNAME" required="false"/>
    </Columns>
  </MailChimpConfiguration>
		


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
